@model Chromebook_Management.Models.Chromebook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chromebook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refurbished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refurbished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChromebookType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChromebookType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChromebookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
